.DS_Store

# lsp
.log

# Exercism
.exercism

# clojure
.clj-kondo
.lein-failures
.lsp
.nrepl-port

# clojurescript
.cljs_node_repl
.cpcache
cljs-test-runner-out

# fsharp
bin
obj

# haskell
*.cabal
.stack-work

# javascript
node_modules
target
